<!doctype html>
<html lang="ja">
  <head>
      <meta charset="UTF-8">
      <title>送信完了ページ</title>
      <meta name="description" content="送信完了ページ">
      <!--<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">-->
      <link href="style.css" rel="stylesheet">
      <link rel="icon" href="fig/屋号ロゴ(不可能図形のみ).jpg">
  </head>
  <body>
    <header>
      <h1>F送信失敗いたしました</h1>
    </header>
    <form action="./test_mail.php" method="post">  <!--変更箇所-->
    <label>送信できました</label>
    <input type="submit" class="send"  value="送信"><br>
    </form>
  </body>
  <footer>
    <p> </p>
  </footer>
</html>
