
/* パララックス */
.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* パララックスのみのパーツ */
.bg {
  height: 200px;
}

/* パララックスの背景 sass移行時に要リファクタリング */
.parallax-bg.home {
  background-image: url('../image/test_main.jpg');
}

.parallax-bg.introduction {
  background-image: url('../image/test_intr.jpg');
}

.parallax-bg.psycology_test {
  background-image: url('../image/test_test.jpg');

}.parallax-bg.contents_list {
  background-image: url('../image/test_cont.jpg');
}

/*スクロールするコンテンツ*/
.scrollbox {
  background-color: rgb(207, 203, 203);
  height: 300px;
}



/* nav-itemの文字色 */
.navbar .navbar-nav .nav-link{
  color: white;
}
/* nav-item activeの文字色 */
/* .navbar .navbar-nav .active > .nav-link {
  color: rgba(0,0,255,1);
} */
/* nav-item:focus、nav-item:hoverの文字色 */
/* .navbar .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,255,255,1);
} */
/* ドロップダウンアイテムの文字色 */
/* .dropdown-item {
  color: rgba(255,0,0,1);
} */

/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 500px;
  padding: 10px 30px;
  background-color: #fff;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}


/* 以下ボタンスタイル */
/* button {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #282828;
  border-radius: 2px;
  cursor: pointer;
} */

/* #openModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
} */